@page
@model DaveStore.Pages.RegisterModel

<div class="text-center mb-5">
    <h1>Register</h1>
</div>
<div class="row w-100">
    <div class="col shadow rounded">
        <form class="container p-3" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row row-cols-1 text-center row-cols-sm-2">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="RegisterViewModel.Email" class="form-control" placeholder="name@example.com" />
                        <label asp-for="RegisterViewModel.Email">Email</label>
                        <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="RegisterViewModel.Password" class="form-control" placeholder="********" />
                        <label asp-for="RegisterViewModel.Password">Password</label>
                        <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="RegisterViewModel.ConfirmPassword" class="form-control" placeholder="********" />
                        <label asp-for="RegisterViewModel.ConfirmPassword">Confirm password</label>
                        <span asp-validation-for="RegisterViewModel.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="RegisterViewModel.PhoneNumber" class="form-control" placeholder="********" />
                        <label asp-for="RegisterViewModel.PhoneNumber">Phone number</label>
                        <span asp-validation-for="RegisterViewModel.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary p-2 w-25" value="Sign Up" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>