@model IEnumerable<Product>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<div class="container">
    <div class="row g-3 my-3">
        @foreach (var p in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card" style="height: 30rem">
                    <img class="card-img-top" style="height: 20rem" src="@p.ImageLink" alt="@p.Description"/>
                    <div class="card-body">
                        <h5 class="card-title">@p.Name</h5>
                        <p class="card-text">
                            @p.Description
                        </p>
                    </div>
                    <div class="card-footer text-center w-100">
                        <a href="#" class="btn">Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>