@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;


@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Orders" asp-action="Index">Orders</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="ProductSpecs" asp-action="Index">ProductSpecs</a></li>
        </ul>
    </li>
}