@model DaveStore.Models.ViewModels.SearchViewModel
@using DaveStore.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext DbContext;

<form class="container-md" asp-controller="Home" asp-action="Products" method="get">
    <div class="input-group">
        <select class="btn btn-secondary" asp-for="CategoryId" class="p-2" id="category-selector">
            <option selected>Categories</option>
            @foreach (var c in await DbContext.Categories.ToListAsync())
            {
                <option value="@c.CategoryId">@c.Name</option>
            }
        </select>
        <input class="form-control shadow-none" aria-label="Search" aria-describedby="category-selector" placeholder="Search query..." type="search" asp-for="SearchQuery"/>
        <button type="submit" class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</form>